In [81]:
import pandas as pd
import datetime

In [111]:
df = pd.read_csv('../data/show_no_show.csv', index_col='Unnamed: 0')

In [96]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,None,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,None,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,None,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,None,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,None,0,0,No

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110182 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  object
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 12.6+ MB

# ScheduledDay & AppointmentDay into datetime

In [101]:
def to_datetime(ex):
    return datetime.datetime(int(ex[0:4]), int(ex[5:7]), int(ex[8:10]), int(ex[11:13]), int(ex[14:16]), int(ex[17:19]))

In [112]:
df['ScheduledDay_hours'] = df['ScheduledDay']

In [113]:
df['ScheduledDay']=df['ScheduledDay'].apply(lambda ex: datetime.date(int(ex[0:4]), int(ex[5:7]), int(ex[8:10])))

In [114]:
df['ScheduledDay_hours']=df['ScheduledDay_hours'].apply(lambda ex: datetime.datetime(int(ex[0:4]), int(ex[5:7]), int(ex[8:10]), int(ex[11:13]), int(ex[14:16]), int(ex[17:19])))

In [115]:
df['AppointmentDay']=df['AppointmentDay'].apply(lambda ex: datetime.date(int(ex[0:4]), int(ex[5:7]), int(ex[8:10])))

In [118]:
df['DaysDifference']=df['AppointmentDay']-df['ScheduledDay']

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110527 entries, 0 to 110526
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   PatientId           110527 non-null  float64
 1   AppointmentID       110527 non-null  int64
 2   Gender              110182 non-null  object
 3   ScheduledDay        110527 non-null  object
 4   AppointmentDay      110527 non-null  object
 5   Age                 110527 non-null  int64
 6   Neighbourhood       110527 non-null  object
 7   Scholarship         110527 non-null  int64
 8   Hipertension        110527 non-null  int64
 9   Diabetes            110527 non-null  int64
 10  Alcoholism          110527 non-null  object
 11  Handcap             110527 non-null  int64
 12  SMS_received        110527 non-null  int64
 13  No-show             110527 non-null  object
 14  ScheduledDay_hours  110527 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 13.5+ MB

In [120]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show,ScheduledDay_hours,DaysDifference
0,2.987250e+13,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,None,0,0,No,2016-04-29 18:38:08,0 days
1,5.589978e+14,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,None,0,0,No,2016-04-29 16:08:27,0 days
2,4.262962e+12,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,None,0,0,No,2016-04-29 16:19:04,0 days
3,8.679512e+11,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,None,0,0,No,2016-04-29 17:29:31,0 days
4,8.841186e+12,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,None,0,0,No,2016-04-29 16:07:23,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03,2016-06-07,56,MARIA ORTIZ,0,0,0,None,0,1,No,2016-05-03 09:15:35,35 days
110523,3.596266e+12,5650093,F,2016-05-03,2016-06-07,51,MARIA ORTIZ,0,0,0,None,0,1,No,2016-05-03 07:27:33,35 days
110524,1.557663e+13,5630692,F,2016-04-27,2016-06-07,21,MARIA ORTIZ,0,0,0,None,0,1,No,2016-04-27 16:03:52,41 days
110525,9.213493e+13,5630323,F,2016-04-27,2016-06-07,38,MARIA ORTIZ,0,0,0,None,0,1,No,2016-04-27 15:09:23,41 days
110526,3.775115e+14,5629448,F,2016-04-27,2016-06-07,54,MARIA ORTIZ,0,0,0,None,0,1,No,2016-04-27 13:30:56,41 days

# Gender into category